@using NewsFeed.Models.ViewModels
@model IList<CategoriesViewModel>

<nav class="menu">
    <h4 class="menu-label"></h4>
    <div class="menu-list">
        @foreach (var item in Model)
        {
            if (item.CurrentUserSubscribed == true)
            {
                <a class="btn btn-info category" href="#" role="button" onclick="ConfirmUnsubscribe(@item.CategoryID, '@item.Name')">
                    @item.Name
                    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                    </svg>
                </a>
            }
            else
            {
                <a class="btn btn-light category" href="#" role="button" onclick="ConfirmSubscribe(@item.CategoryID, '@item.Name')">
                    @item.Name
                </a>
            }
        }
    </div>
</nav>

<!-- Modal Subscription -->
<div class="modal fade" id="confirm-subscription" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscription" data-id="">Subscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm subscription to <strong id="subscription-category-title"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="Subscribe()">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Unsubscription -->
<div class="modal fade" id="confirm-unsubscription" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unsubscription">Unsubscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirm unsubscription to <strong id="unsubscription-category-title"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="Unsubscribe()">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>




